
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f6fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #707070;
    padding: 15px 0;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.nav-list li a {
    text-decoration: none;
    color: #ffff00; 
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif; 
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 2.0fr; 
    gap: 20px;
    padding: 40px;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
}


.grid-item {
    width: 100%;
    min-height: 500px; 
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content-box {
    background-color: #ff7f50; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inner-box {
    background-color: #808080;
    color: white;
    padding: 30px;
    width: 50%;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.inner-box h2 {
    font-family: serif;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.inner-box p {
    font-family: serif;
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 1.1rem;
}

.inner-box button {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
}

.inner-box button:hover {
    background-color: #f0f0f0;
}


@media (max-width: 900px) {

    header {
        padding: 20px;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .nav-list li a {
        font-size: 1.3rem;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        gap: 20px;
    }

    .content-box {
        grid-column: 1 / -1;
        min-height: 400px; 
    }

    .grid-item {
        min-height: 300px; 
    }
}


@media (max-width: 480px) {
    .container {
        padding: 15px;
        gap: 10px;
    }
    
    .inner-box {
        width: 80%;
    }
}